.new-user-main__box
  .new-user-main__box__title
    無料ユーザー登録（１分）
  .new-user-main__box__contents
    = render "devise/shared/error_messages", resource: @user
    .new-user-main__box__contents__title
      基本情報
    = form_with(model: @user,url: user_registration_path, method: :post, local: true) do |f|
      %table
        %tr.field
          %td.right= f.label:メールアドレス
          %br/
          %td= f.email_field :email, autofocus: true
        %tr.field
          %td.right= f.label:パスワード
          %br/
          %td= f.password_field :password, autocomplete: "new-password"
        %tr.field
          %td.right= f.label:パスワード（確認）
          %br/
          %td
            = f.password_field :password_confirmation, autocomplete: "new-password"
            %br/
            %h2 ※英字と数字の両方を含めて設定してください
        %tr.field
          %td.right= f.label:氏名（漢字）
          %td 
            姓
            = f.text_field :first_name
            名
            = f.text_field :last_name
        %tr.field
          %td.right= f.label:氏名（フリガナ）
          %td 
            セイ
            = f.text_field :first_name_kana
            メイ
            = f.text_field :last_name_kana
        %tr.field
          %td.right=f.label:年齢
          %td
            = f.text_field :age, class: "age"
            歳
        %tr.field 
          %td.right= f.label:性別
          %td
            %label
              = f.radio_button :gender,"男性"
              男性
              %label
                = f.radio_button :gender,"女性"
                女性
        %tr.field 
          %td.right= f.label"都道府県", class: "identification-content__prefecture"
          %td= f.collection_select :prefecture, Prefecture.all, :id, :name, prompt: "選択してください"
        %tr.field 
          %td.right= f.label:キャリア状況      
          %td
            %label
              = f.radio_button :carrier,"社会人"
              社会人
            %label
              = f.radio_button :carrier,"学生"
              学生
            %label
              = f.radio_button :carrier,"その他"
              その他
      %br/
      .button
        入力お疲れ様でした。下記の「登録の完了」ボタンをクリックして下さい。
          
      = f.submit "登録の完了", class: 'next-btn'
      
