.post-contents
  .post-contents__header
    .post-contents__header--title
      = @school.school_name
      = @admission
      = @merit 
      = @demerit
      = @cost
      = @gap
      = @curriculum_qualit 
      = @out_of_learning
      = @employment

