.new-post-main
  .new-post-main__center
    .new-post-main__center__head
      受講生の口コミ
    = form_with model: @post, url: posts_path,local: true do |f|
      .new-post-main__center__post
        .new-post-main__center__post--flex
          .new-post-main__center__post--flex__title
            学校を選択してください
          .new-post-main__center__post--flex__necessary
            必須
          = f.collection_select :school_id, School.all, :id, :school_name, {prompt: "---"}, class: 'new-post-main__center__post__select'
      .new-post-main__center__post
        .new-post-main__center__post--flex
          .new-post-main__center__post--flex__title
            入校した理由
          .new-post-main__center__post--flex__necessary
            必須
        = f.text_area :admission, class: 'new-post-main__center__post__text-area', placeholder: "入校した理由を明記してください。"
      .new-post-main__center__post
        .new-post-main__center__post--flex
          .new-post-main__center__post--flex__title
            入校して良かった事（メリット）
          .new-post-main__center__post--flex__necessary
            必須
        = f.text_area :merit, class: 'new-post-main__center__post__text-area', placeholder: "入校して感じた良かった事を明記してください。"
      .new-post-main__center__post
        .new-post-main__center__post--flex
          .new-post-main__center__post--flex__title
            入校して不都合に感じた事（デメリット）
          .new-post-main__center__post--flex__necessary
            必須
        = f.text_area :demerit, class: 'new-post-main__center__post__text-area', placeholder: "入校して不都合に感じた事を明記してください。"
      .new-post-main__center__post
        .new-post-main__center__post--flex
          .new-post-main__center__post--flex__title
            入校前と入校後で感じた違い
          .new-post-main__center__post--flex__necessary
            必須
        = f.text_area :gap, class: 'new-post-main__center__post__text-area', placeholder: "入校前と入校してからの違いについて明記してください。"
      .new-post-main__center__post
        .new-post-main__center__post--flex
          .new-post-main__center__post--flex__title
            金額
          .new-post-main__center__post--flex__necessary
            必須
        = f.text_area :cost, class: 'new-post-main__center__post__text-area', placeholder: "金額に見合った学習が出来たかについて明記してください。"
      .new-post-main__center__post
        .new-post-main__center__post--flex
          .new-post-main__center__post--flex__title
            カリキュラム内容
          .new-post-main__center__post--flex__necessary
            必須
        = f.text_area :curriculum_quality, class: 'new-post-main__center__post__text-area', placeholder: "カリキュラムの内容について明記してください。"
      .new-post-main__center__post
        .new-post-main__center__post--flex
          .new-post-main__center__post--flex__title
            学校外の時間の使い方
          .new-post-main__center__post--flex__necessary
            必須
        = f.text_area :out_of_learning, class: 'new-post-main__center__post__text-area', placeholder: "入校してから、学校外（休日）の時間の使い方について明記してください。"
      .new-post-main__center__post
        .new-post-main__center__post--flex
          .new-post-main__center__post--flex__title
            就職活動・内容
          .new-post-main__center__post--flex__necessary
            必須
        = f.text_area :employment, class: 'new-post-main__center__post__text-area', placeholder: "就職内容について明記してください。"
      .new-product-main__center__bottom
        = f.submit "投稿する", class: 'new-post-main__center__bottom__submit-btn'
      %form
        %input{onclick: "javascript:history.back()", type: "button", value: "戻る", class: 'new-post-main__center__bottom__back-btn'}