.inquiry
  .inquiry__contents
    .inquiry__contents--title
      %h1 問い合わせ画面
      - if @inquiry.errors.any?
        .alert.alert-danger{:role => "alert"}
          %strong 入力内容にエラーがあります
          %ul
            - @inquiry.errors.each do |attr, msg|
              %li= msg
      = form_for @inquiry, :url => inquiry_confirm_path do |f|
        .inquiry__contents--name
          .form
            %label.form__label 名前
            %span.form__require 必須
            %br
            = f.text_field :name, placeholder: '例)山下美月', class:'input-box'
        .inquiry__contents--name
          .form
            %label.form__label メールアドレス
            %span.form__require 必須
            %br
            = f.text_field :email, placeholder: '例)mizuki@gmail.com', class:'input-box'
        .inquiry__contents--name
          .form
            %label.form__label 問い合わせ内容
            %span.form__require 必須
            %br
            = f.text_area :message, class:'input-box__message'
        .inquiry__contents--btn
          = f.submit '確認', class: 'btn btn-flat-border' 