= render 'layouts/header'

.inquiry__contents

  = form_for @inquiry, :url => inquiry_confirm_path do |f|
    %h1 問い合わせ画面
    - if @inquiry.errors.any?
      .alert.alert-danger{:role => "alert"}
        %strong 入力内容にエラーがあります
        %ul
          - @inquiry.errors.each do |attr, msg|
            %li= msg
    %table.table
      %tr
        %th
          名前
          %span.text-danger (必須)
        %td= f.text_field :name
      %tr
        %th
          メールアドレス
          %span.text-danger (必須)
        %td= f.text_field :email
      %tr
        %th 問い合わせ内容 (必須)
        %td= f.text_area :message
    = f.submit '確認', class: 'btn btn-primary'

=render 'layouts/footer'